* {
  font-family: Canva Sans;
}

body {
  background-color: #e7e7e7;
}

.container {
  display: flex;
  justify-content: center;
}

.col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 3em;
  border-radius: 15px;
  min-width: 250px;
}

.wlc-msg {
  border-bottom: solid black 3px;
  margin-bottom: 1.5em;
}

.logo {
  border-radius: 50px;
  margin-bottom: 2em;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.5em;
}

#create-btn {
  margin-bottom: 1em;
  width: 100%;
}

#join-btn {
  margin-bottom: 1em;
  width: 100%;
}

#join-code {
  text-align: center;
  height: 3em;
  font-size: 24px;
  background-color: #d4d4d4;
}

#join-code:hover {
  font-weight: bold;
}

#username-input {
  margin-top: 1em;
  text-align: center;
  height: 3em;
  font-size: 24px;
  background-color: #d4d4d4;
}

#username-input:hover {
  font-weight: bold;
}

#subBtn {
  margin-top: 1em;
  text-align: center;
  height: 3em;
  font-size: 24px;
}