* {
  font-family: Canva Sans;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #027df0
}

.row {
  /* centers by over riding bootstrap */
  margin-left: 0 !important;
  margin-right: 0 !important;
}


.container {
  width: 100%;
  min-height: 800px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}



.col-6 {
  min-height: 800px;
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

#header-row.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 7.5%;
  height: auto;
  border: solid black 2px;
  text-align: center;
  background-color: white;
}

#header-text {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}

#back-btn {
  position: absolute;
  left: 0;
  top: 25%;
  margin-left: 1em;
  background-color: #ffffff;
}

#back-btn:hover {
  background-color: gray;
  cursor: pointer;
}

#lobby-created {
  font-size: 34px;
}

#code-row.row {
  min-height: 7.5%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-align: center;
  border-left: solid black 2px;
  border-right: solid black 2px;
  border-bottom: solid black 2px;
  background-color: white;
}

#code-row-text {
  font-size: 28px;
}

#lobby-code {
  border: solid black 2px;
}

#lobby-code:hover {
  zoom: 150%;
}

#players-row.row {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-align: center;
  border-left: solid black 2px;
  border-right: solid black 2px;
  border-bottom: solid black 2px;
  background-color: white;
}

.players {
  height: 80%
}

.players-text {
  font-size: 18px;
}

.players-text:hover {
  zoom: 150%;
}

#start-row.row {
  min-height: 7.5%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  border-left: solid black 2px;
  border-right: solid black 2px;
  border-bottom: solid black 2px;
  background-color: white;
}

.btn.btn-primary {
  width: 50%;
  min-height: 75%;
  height: auto;
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}