.container {
  display: flex;
  justify-content: center;
}   

body, html {
  margin: 10;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0d6efd;
  height: 100%;
}

.container {
  align-items: center;
  height: 100vh;
}