html,
body {
    margin: 0;
    height: 100%;
}

.row {
    flex-grow: 1;
}

.col-3 {
    border: 1px solid black;
}

.navbar.fixed-top.bg-primary.navbar-dark {
    justify-content: center;
}

.navbar-brand.mb-0.h1 {
    font-size: 3em;
}